<div >

    <div class="xe-widget xe-counter" data-count=".num" data-duration="2">
        <div class="xe-icon">
            <i class="linecons-cloud"></i>
        </div>
        <div class="xe-label" >
            <strong class="num">{{DBStore[4].mensual}}</strong>
            <span>{{DBStore[4].finalup}}</span>
        </div>
    </div> 

        <div class="xe-widget xe-counter xe-counter-purple" data-count=".num" data-from="let i = DBStore[4].mensual" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
            <div class="xe-icon">
                <i class="linecons-user"></i>
            </div>
            <div class="xe-label" *ngFor="let i of DBStore">
                <strong [class]=""></strong>
                <span>{{i.mensual}}</span>
            </div>
        </div>         
        