    <h1 class="titleP">Ciclos de Programación&hellip;</h1>
    <div class="description">
        <h6>Las gráficas circulares corresponden al progreso de la meta anual.</h6>
        <span>Contabilizado (Julio - Agosto - Septiembre - Octubre - Noviembre)</span>
      </div>

        
<div class="justify-content-between content-gral row">
    <div class="col-sm-5 graph">
        <app-graph-uno></app-graph-uno>
    </div>
    
    <div class="col-sm-5 graph">
        <app-graph-one></app-graph-one>
    </div>
</div>
<div class="justify-content-between content-gral row">
    <div class="col-sm-5 graph">
        <app-graph-two></app-graph-two>    
    </div>
    
    <div class="col-sm-5 graph">
        <app-graph-three></app-graph-three>
    </div>
</div>
<div class="justify-content-between content-gral row">
    <div class="col-sm-5 graph">
        <app-graph-four></app-graph-four>
    </div>

    <div class="col-sm-5 graph">
        <app-graph-five></app-graph-five>
    </div>
</div>
<div class="justify-content-between content-gral row">
    <div class="col-sm-5 graph">
        <app-graph-six></app-graph-six>
    </div>

    <div class="col-sm-5 graph">
        <app-graph-seven></app-graph-seven>
    </div>
</div>
<div class="justify-content-between content-gral row">
    <div class="col-sm-5 graph">
        <app-graph-eight></app-graph-eight>
    </div>

    <div class="col-sm-5 graph">
        <app-graph-nine></app-graph-nine>
    </div>
</div>